<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<appSettings>
		<add key="PatchserverAddress" value="http://www.chpatch.co.uk:14246/patchserver/"/>
		<add key="AppleITunesUrl" value="https://buy.itunes.apple.com/verifyReceipt"/>
		<add key="CollisionMapPath" value="CollisionAndAIMaps/"/>
		<add key="ProcessPerformanceLogMessage" value="true"/>
		<add key="ClientBackgroundTimeout" value="30"/>
		<add key="Platform" value="Android"/>
		<add key="PipeName" value="PROD_Android_Controller"/>

		<!--
		<add key="AppleITunesUrlProd" value="https://buy.itunes.apple.com/verifyReceipt"/>
		<add key="AppleITunesUrlTest" value="https://sandbox.itunes.apple.com/verifyReceipt"/>
		-->
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>